<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>designated</key>
    <string>identifier "com.bishoylabib.servicebusexplorer" and certificate leaf[subject.OU] = "2VBYT65G42" and certificate root = H"F293F437A20406818CE0A1B2D6005A1680FCC08F"</string>
</dict>
</plist>

